.header-wrap {
  display: flex;
  width: 100%;
  min-height: 40px;
  justify-content: space-around;
  background-color: rgb(55 65 81);
  margin-bottom: 2%;
  align-items: center;
}

.active {
  color: orange !important;
}

.footer-wrap {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(55 65 81);
}
