.search-bar-wrap {
  max-width: 584px;
  min-width: 584px;
  height: 40px;
  padding: 0.5% 1% 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99990px;
  background-color: rgba(120, 131, 155, 0.2);
  color: rgb(153 161 179);
  margin-bottom: 2%;
  align-self: center;
}

.search-bar {
  width: 90%;
  height: inherit;
  border: none;
  appearance: none;
  outline: none;
  background-color: rgba(120, 131, 155, 0);
  color: rgb(153 161 179);
  font-size: large;
  margin-left: 1%;
}

.cards-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-card-wrap {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0 solid #e5e7eb;
  border-radius: 1rem;
  padding: 1%;
  margin: 1%;
  background-color: rgb(52 58 70);
}
